.title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
h2 {
  margin-left: auto;
  margin-right: auto;
  color: rgb(5, 221, 38);
  font-size: 36px;
  letter-spacing: 0.05em;
  font-weight: bold;
}
.overlay {
  padding-top: 70px;
  margin-left: auto;
  margin-right: auto;
}
.container-manage-emp {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 3px rgb(5, 221, 38);
}
table {
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.05em;
}
.detail-buttons {
  width: max-content;
}
table td {
  font-size: 18px;
  text-align: left;
  border-top: #b0b0b5 solid 0.1px;
  padding: 15px 20px;
}
table tr {
  font-size: 18px;
  padding: 10px;
  text-align: left;
}
table th {
  background-color: white;
  font-size: 18px;
  color: rgb(5, 221, 38);
  text-align: left;
  line-height: 2;
  padding: 10px 20px;
}

.buttondetail {
  background: grey;
  border-radius: 3px;
  color: blue;
  line-height: 1.7;
  font-size: 18px;
  width: 4em;
  border: none;
}
/* .buttondetail:hover {
    color: #fff;
  } */
.buttondetail:hover {
  background-color: #b0b0b5;
}
.buttondetail:active {
  background-color: orange;
}
.note {
  color: #b0b0b5;
  font-style: italic;
}
button {
  color: rgb(5, 221, 38);
  background: rgb(225, 255, 229);
  padding: 10px 15px;
  border-radius: 30px;
  margin: 5px auto;
  width: 150px;
  border: 1px solid rgb(5, 221, 38);
  font-weight: bold;
  position: bottom;
  float: right;
}
.fa-edit {
  color: rgb(5, 221, 38);
}
.fa-eraser {
  color: rgb(5, 221, 38);
}
