.loginsssssssssss {
  display: flex;
  justify-content: center;
}



* {
  font-family: sans-serif;
  box-sizing: border-box;
}



h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
}



.typeuser {
  height: 35px;
  margin: 10px;
  color: rgb(97, 97, 97);
  background: white; /* #198754; */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-weight: bold;
}
form {
  width: 400px;
  border: 0px;
  padding: 30px;
  background: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 0 0 3px 3px rgb(5, 221, 38);
  display: block;
}
input {
  display: block;
  border: 2px solid #ccc;
  width: 95%;
  padding: 10px;
  margin: 10px auto;
  border-radius: 5px;
}
label {
  color: rgb(97, 97, 97);
  font-size: 18px;
  padding: 10px;
}
#loginview > button,
.registersss {
  display: block;
  color: rgb(5, 221, 38);
  background: rgb(225, 255, 229); /* #198754; */
  padding: 10px 15px;
  border-radius: 5px;
  margin: 5px auto;
  width: 120px;
  border: 1px solid rgb(5, 221, 38);
  font-weight: bold;
}
#loginview > button:hover,
.registersss:hover {
  background: rgb(5, 221, 38);
  color: rgb(255, 255, 255);
}
.registersss {
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
}
.error {
  background: #f2dede;
  color: #a94442;
  padding: 10px;
  width: 95%;
  border-radius: 5px;
  margin: 20px auto;
}
