*, *::before, *::after {
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* Cart */

label {
  color: rgb(97, 97, 97);
  font-size: 18px;
  padding: 10px;
}

input {
  display: block;
  border: 2px solid #ccc;
  width: 95%;
  padding: 10px;
  margin: 10px auto;
  border-radius: 5px;
}

.select-box{
    height:35px;
    margin:10px;
    color: rgb(97, 97, 97);
    background: white;/* #198754; */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight:bold;
}
/* Button header */

.fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1
}
.fas{font-family:"Font Awesome 5 Free"}
.fas{font-weight:900}
.fa-user{
  color:rgb(5, 221, 38);
}
.fa-concierge-bell {
  margin-left: 1rem;
  padding: 1rem;
  background-color: #cccc;
  color: #000;
  border-radius: 50%;
  cursor: pointer;
  transition: all 1s;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #333;
  background-color:#eee;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  padding: 2rem 9%;
}

@media only screen and (max-width: 991px) {
  .container, section .container {
    padding: 2rem 1.5rem;
  }
}

.btn {
  display: inline-block;
  padding: 1rem 2.5rem;
  color: #fff;
  background-color: #333;
  border-radius: 0.5rem;
  font-weight: 500;
  transition: all 0.5s;
  cursor: pointer;
}
.btn:hover {
  color: #0bbc61;
  letter-spacing: 0.1rem;
}

.price {
  font-size: 2.2rem;
  font-weight: 500;
  color: #0bbc61;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0 0 5px 5px #efeded;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 9%;
}
.header .logo {
  font-size: 3rem;
  font-weight: 500;
  color: #000;
}

.header .logo i {
  color: #0bbc61;
}

.header .icons .fa-home, .header .icons .fa-shopping-cart, .fa-sliders-h, .fa-concierge-bell {
  margin-left: 1rem;
  padding: 1rem;
  background-color: #cccc;
  color: #000;
  border-radius: 50%;
  cursor: pointer;
  transition: all 1s;
}

.header .icons .fa-home:hover, .header .icons .fa-shopping-cart:hover, .fa-sliders-h:hover, .fa-concierge-bell:hover {
  color: #fff;
  background-color: #0bbc61;
  transform: rotate(360deg);
}
.header .icons .loginsss {
  margin-left: 1rem;
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #ffffff;
  border:1px solid #0bbc61;
  color: #0bbc61;
  border-radius: 2rem;
  transition: all 1s;
}
.header .icons .loginsss:hover {
  color: #ffffff;
  background-color: #0bbc61;
}


.header .icons .user-desc {
  position: absolute;
  top: calc(100% + 20px);
  right: 0;
  border: 1px solid #000;
  background-color: #fff;
  padding: 1rem;
  display: none;
}

.header .icons .user-desc.active {
  display: block;
}

.header .icons .user-desc a {
  display: inline-block;
  color: #000;
  margin-top: 5px;
  margin-bottom: 5px;
}
.header .icons .user-desc a:hover {
  color: #0bbc61;
}

@media only screen and (max-width: 991px) {
  html {
    font-size: 55%;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}
.menu {
  padding-top: 12rem;
  padding-bottom: 3rem;
  background-color: #eee;
}
.menu .heading {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.menu .list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}
.menu .list .item {
  background-color: #fff;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.menu .list .item .itemLink {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.menu .list .item .eye-icon {
  top: 1.5rem;
  left: -15rem;
}
.menu .list .item .heart-icon {
  top: 1.5rem;
  right: -15rem;
}
.menu .list .item:hover .eye-icon {
  left: 1.5rem;
}
.menu .list .item:hover .heart-icon {
  right: 1.5rem;
}
.menu .list .item img {
  height: 17rem;
  margin: 0 1rem;
}
.menu .list .item h4 {
  margin-top: 1rem;
  font-size: 2.5rem;
  font-weight: 500;
}
.menu .list .item .stars {
  margin-top: 1.5rem;
}
.menu .list .item .stars i {
  color: #0bbc61;
}
.menu .list .item .buy {
  margin-top: 1.5rem;
}
.menu .list .item .btn {
  position: relative;
  z-index: 100;
}

.dishes.drinks {
  margin-top: 9rem;
  padding-top: 5rem;
}

@media only screen and (max-width: 991px) {
  .dishes .list .item img {
    width: 90%;
    height: auto;
  }
}
.dish {
  padding-top: 12rem;
  font-size: 1.8rem;
  background-color: #fff;
}
.dish .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-color: #eee;
  z-index: 10;
}
.dish .container {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  position: relative;
  z-index: 100;
}
.dish .image {
  text-align: center;
  padding: 2rem;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  background-color: #fff;
}
.dish .info {
  padding: 2rem;
  border: 1px solid #000;
  border-radius: 5px;
  line-height: 1.6;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  background-color: #fff;
}
.dish .info h3 {
  font-size: 3rem;
  font-weight: 400;
}
.dish .info span.title {
  font-weight: 700;
}
.dish .info .field {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.dish .info .quantity .icon,
.dish .info .quantity input {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
}
.dish .info .quantity .icon {
  background-color: #0bbc61;
  color: #fff;
  cursor: pointer;
}
.dish .info .quantity input {
  outline: none;
  border: 0;
  font-size: 2rem;
}
.dish .info .quantity input::-webkit-outer-spin-button,
.dish .info .quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.dish .info .btn {
  margin-top: 2rem;
}

@media only screen and (max-width: 768px) {
  .dish .container {
    flex-direction: column;
    align-items: stretch;
  }
}
.cart {
  padding-top: 12rem;
  padding-bottom: 3rem;
}
.cart .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-color: #eee;
  z-index: 10;
}
.cart .container {
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  background-color: #fff;
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative;
  z-index: 100;
}
.cart h4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 500;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.cart .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex: 1 1 45rem;
}
.cart .item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 1rem 3rem;
}
.cart .item img {
  width: 8rem;
  height: 8rem;
}
.cart .item .info h5 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.cart .item .info .icon,
.cart .item .info input {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
}
.cart .item .info .icon {
  background-color: #0bbc61;
  color: #fff;
  cursor: pointer;
}
.cart .item .info input {
  outline: none;
  border: 0;
  font-size: 2rem;
}
.cart .item .info input::-webkit-outer-spin-button,
.cart .item .info input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cart .item .price {
  font-size: 2rem;
  color: #0bbc61;
}
.cart .btn {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.orders {
  margin-top: 10rem;
}
.orders .list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 3rem;
}
.orders .item {
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 1rem;
}
.orders .item h5 {
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.orders .item .info .field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.orders.btn {
  width: 100%;
  margin-bottom: 1rem;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .order-detail-container {
    min-width: 450px;
  }
}
@media only screen and (max-width: 540px) {
  .order-detail-container {
    min-width: 300px;
  }
}
.profile {
  width: 100%;
  height: 100vh;
  background-color: #eee;
  position: relative;
  overflow: hidden;
}
.profile .pattern-top {
  transform: translate(-25%, -50%);
}
.profile .pattern-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(20%, 62%);
}
.profile-container {
  width: 35rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #19a2ae;
  border-radius: 1rem;
  background-color: #fff;
}
.profile-pattern {
  display: block;
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.profile-info {
  position: relative;
  text-align: center;
}
.profile .fa-user {
  background-color: #249788;
  border-radius: 100%;
  position: absolute;
  top: -4.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 8rem;
  height: 8rem;
  font-size: 3rem;
  line-height: 8rem;
  color: #fff;
}
.profile-name {
  padding-top: 7.5rem;
  font-size: 2rem;
  color: #2d3248;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.profile-name span {
  padding-left: 1rem;
  color: #969696;
  font-weight: 400;
}
.profile-address {
  color: #969696;
  padding-bottom: 3rem;
  border-bottom: 1px solid #969696;
}
.profile-list {
  display: flex;
  max-width: 245px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 2.5rem;
}
.profile-item__num {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 1rem;
}
.profile-item__name {
  color: #969696;
}

@media only screen and (max-width: 1200px) {
  .profile-container {
    max-width: 1200px;
  }
  .profile .pattern-top {
    transform: translate(-52%, -60%);
  }
  .profile .pattern-bottom {
    transform: translate(49%, 65%);
  }
}
@media only screen and (max-width: 1024px) {
  .profile-container {
    max-width: 1024px;
  }
  .imgs{
    height: 300px;
  }
}
@media only screen and (max-width: 768px) {
  .profile-container {
    max-width: 768px;
  }
  .profile .pattern-top {
    transform: translate(-66%, -60%);
  }
  .profile .pattern-bottom {
    transform: translate(61%, 65%);
  }
  .imgs{
    height: 220px;
  }
}
@media only screen and (max-width: 490px) {
  .profile-container {
    max-width: 325px;
  }
  .profile .pattern-top {
    transform: translate(-79%, -62%);
  }
  .profile .pattern-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(78%, 61%);
  }
  .imgs{
    height: 170px;
  }
  .deletebtn{
    width: 50%;
  }
}
@media only screen and (max-width: 370px) {
  .imgs{
    height: 140px;
  }
}

/*# sourceMappingURL=style.css.map */
  
.select-box{
  height: 30px;
  margin:0px 30px 20px 5px;
  width:100px;
}

/*# sourceMappingURL=style.css.map */
